.Header {
  display: flex;
  justify-content: space-between;
  /* background-color: blueviolet; */
  height: 150px;
  border: 1px solid black;
}
.logo {
  width: 140px;
  height: 140px;
}
.logoContainer {
  margin-left: 50px;
}
.NavIcons > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  height: 90%;
  margin: 8px 50px;
}
.NavIcons > ul > li {
  list-style-type: none;
  margin: 0 50px;
  padding: 7px 15px;
  font-size: 20px;
}
.NavIcons > ul > li:hover {
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
}
.resCard{
  height: 400px;
  width: 250px;
  border: 1px solid grey;
  text-align: center;
  line-height: 12px;
  margin: 10px 10px;
  

}
.resCard:hover{
cursor: pointer;
border: 1px solid rgb(0, 0, 0);
}
.resCard > img {
  height: 210px;
  width: 100%;
}
.search{
  width: 100%;
  font-size: 20px;
  margin:10px 0;
  border: 1px solid balck;
  height: 25px;
}

.restaurantContainer{
  display: flex;
  flex-wrap: wrap;
}
.restaurantContainer{
  padding: 10px 10px;
}

.Shimmer-card{
  height: 390px;
  width: 250px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  margin: 10px 10px;
}

.Shimmer-envelop{
  display: flex;
  flex-wrap: wrap;
}

.login{
  height: 2rem;
  width: 4rem;
  border-radius: 50px;
  cursor: pointer;
}