
.NavIcons > ul > li {
  margin: 0 20px;
  padding: 6px 10px;
  font-size: 18px;
}
.NavIcons > ul > li:hover {
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  cursor: pointer;
  
}
.resCard{
  /* height: 400px; */
  /* width: 250px; */
  /* border: 1px solid grey; */
  text-align: center;
  /* margin: 10px 10px; */
  

}
.resCard:hover{
cursor: pointer;
/* border: 1px solid rgb(0, 0, 0); */
}

/* .search{
  width: 100%;
  font-size: 20px;
  margin:10px 0;
  border: 1px solid balck;
  height: 25px;
} */


/* .restaurantContainer{
  padding: 10px 10px;
} */

.Shimmer-card{
  height: 390px;
  width: 250px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  margin: 10px 10px;
}

.Shimmer-envelop{
  display: flex;
  flex-wrap: wrap;
}

.login{
  height: 2rem;
  width: 4rem;
  border-radius: 50px;
  cursor: pointer;
}